.card {
  width: 334px;
  border-radius: 4px;
  border: 1px solid #dee2e6;
  background: #fff;

  &__hero {
    font-weight: 800;
    font-size: 20px;
  }

  &__img {
    width: 334px;
    height: 332px;
    object-fit: cover;
    object-position: top;
  }

  &__text {
    font-weight: 400;
  }

  &__text__block {
    padding: 24px;
  }
}
