@font-face {
  font-family: "Inter";
  src: url(../../fonts/Inter/Inter_24pt-Regular.ttf);
  font-weight: 400px;
}

@font-face {
  font-family: "Inter";
  src: url(../../fonts/Inter/Inter_28pt-Bold.ttf);
  font-weight: 700px;
}

@font-face {
  font-family: "Inter";
  src: url(../../fonts/Inter/Inter_28pt-ExtraBold.ttf);
  font-weight: 800px;
}

body {
  background: #f5f5f5;
}

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box; 
  font-family: "Inter", sans-serif;
}

ul,
ol {
  list-style: none; 
}

h1, 
h2,
p
{
  color: #152536;
  font-family: Inter;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}